@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
@import url//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);



div.main{
    background: #0264d6; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #0264d6 1%, #1c2b5a 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#0264d6), color-stop(100%,#1c2b5a)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #0264d6 1%,#1c2b5a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0264d6', endColorstr='#1c2b5a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
height:calc(100vh);
width:100%;
}

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

* {
  box-sizing: border-box;
    margin:0px auto;

  &:before,
  &:after {
    box-sizing: border-box;
  }

}

body {
   
    color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}

a {
	color: #eee;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	padding: 0;
	-webkit-appearance: none;
}

p {
	line-height: 1.5em;
}

.clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }

}

.container {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* ---------- LOGIN ---------- */

#login form{
	width: 250px;
}
#login, .logo{
    display:inline-block;
    width:40%;
}
#login{
border-right:1px solid #fff;
  padding: 0px 22px;
  width: 59%;
}
.logo{
color:#fff;
font-size:50px;
  line-height: 125px;
}

#login form span.fa {
	background-color: #fff;
	border-radius: 3px 0px 0px 3px;
	color: #000;
	display: block;
	float: left;
	height: 50px;
    font-size:24px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}

#login form input {
	height: 50px;
}
fieldset{
    padding:0;
    border:0;
    margin: 0;

}
/*#login form input[type="text"], input[type="password"] {
	background-color: #fff;
	border-radius: 0px 3px 3px 0px;
	color: #000;
	margin-bottom: 1em;
	padding: 0 16px;
	width: 200px;
  outline: none;
}*/

#login form input[type="submit"] {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #000000;
  color: #eee;
  font-weight: bold;
  /* margin-bottom: 2em; */
  text-transform: uppercase;
  padding: 5px 10px;
  height: 30px;
}

#login form input[type="submit"]:hover {
	background-color: #d44179;
}

#login > p {
	text-align: center;
}

#login > p span {
	padding-left: 5px;
}
.middle {
  display: flex;
  width: 600px;
}

.alert {
padding: 8px 35px 8px 14px;
margin-bottom: 18px;
color: #c09853;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
background-color: #fcf8e3;
border: 1px solid #fbeed5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.alert-heading {
color: inherit;
}

.alert .close {
position: relative;
top: -2px;
right: -21px;
line-height: 18px;
}

.alert-danger,
.alert-error {
color: #b94a48;
background-color: #f2dede;
border-color: #eed3d7;
}

.login_error{
  width: 250px;
  line-height: 22px;
}

.login_error ul, .login_error li{
  padding: 0px;
  list-style: none;
}



.container-fluid{
  padding: 0px !important;
}

.maxer_bg{
  background-image: url('../images/logo_trans.png'), url(../images/main-bg.jpg);
  background-position: right top, center;
  background-repeat: no-repeat, no-repeat;
  -webkit-background-size: auto, cover;
  -moz-background-size: auto,cover;
  -o-background-size: auto,cover;
  background-size:auto, cover;
  height: 100vh;
  width: 100vw;

}

.login_form{
  margin:0px auto;
  
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  
}

@media screen and (max-width: 320px) {
    .maxer_circle{
    /*background-color: #FFF;*/
    width: 100%;
    border-radius: 100%;
    height: 400px;
    overflow:hidden;
    width: 320px;
  }
}

.maxer_circle{
  /*background-color: #FFF;*/
  width: 100%;
  border-radius: 100%;
  height: 470px;
  overflow:hidden;
  width: 470px;
}

.logo_area{
  background-color: rgba(255, 88, 88, 0.8);
  height: 238px;
  text-align: center;
  padding-top: 40px;
}

.login_sologan{
  font-family: 'Ubuntu', sans-serif;
  color:#FFF;
  font-weight: 300;
  font-style: normal;
  padding-top: 20px;
  font-size: 24px;
  line-height: 30px;
}

.login_sologan span{
  font-weight: 700;
}

.login_form{
  margin-top: 1px;
  
}

.form_input_username{
  background-color: rgba(255, 255, 255, 0.8);
  height: 77px;
  width: 239px;
  float: left;
}

.form_input_password{
  background-color: rgba(255, 255, 255, 0.8);
  height: 77px;
  width: 230px;
  float: right;
}

.login-input{
  height: 76px;
  width: 100%;
  padding-left: 30px;
  background:none;
  border:none;
  outline: none;
}


.submit-btn{
    margin-top: 1px;
    background: #4c3881;
    height: 41px;
    width: 100%;
    color: #FFF;
    font-weight: bold;
    font-size: 19px;
    outline: none;
    cursor: pointer;
}

.login_bottom{
  margin-top: 1px;
  background-color: rgba(255, 88, 88, 0.8);
  height: 100%; 
}

.block_msg{
  font-family: 'Ubuntu', sans-serif;
  width: 300px;
  margin:0px auto;
  text-align: center;
  color: #FFF;
  padding-top: 15px;
  font-size: 18px;
  word-wrap: break-word;
  line-height: 25px;
}